h1 {
    color: red;
}
h3 {
	color: purple;
	font-size: 5px  /* LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOL */
}
li {
	color: blue;
	font-size: 7px; /* LOOOOOOOL */
}
body {
	background-color: orange;
}